  body{margin: 0;
  	   padding: 0;
  	   background-image: url(jeux.jpg);
  	   width: 100%;
  	   background-repeat: no-repeat;
  	   background-size: cover;
  }	
  .img1{
  	display: block;
  	width: 200px;
  	height: 200px;
  	margin-left: auto;
  	margin-right: auto;
  }
  .img2{
   display: block;
   width: 200px;
  	height: 150px;
  	margin-left: auto;
  	margin-right: auto;

  }
  .alignleft{
	float:left;
}
p.alignleft{
	text-align: left;
}
  .img3{
  	display: block;
    width: 200px;
  	height: 150px;
  	margin-left: auto;
  	margin-right: auto;
  }

  #moi{
    text-align: center;
  }

  h2{
  	text-align: center;
  }

#meilleur{
	font-family: 'Source Sans Pro',sans-serif;
	width: 100%;
	height: 50px;
	position: relative;
	background-color: rgb(0,255,0);

}

#meilleur ul{
	float: left;
	left: 50%;
	position: relative;
	padding-top: 0px;
	margin-left: -60px;

}
#meilleur ul li{
	margin left: 20px;
	float: left;
	list-style-type: none;
	position: relative;
	left:-50px;

}
#meilleur ul li a{
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	display:inline-block;
	height: 30px;
	width: 80px;
	color: black;
	text-decoration: none;
	word-spacing: 10px;
}
#meilleur ul li a:hover{
	background-color: #bff542;
}
#footer{
    background: rgb(0,255,255);
	width: 100%;
	height: 80px;
	position: relative;
	bottom: 0px;
}

#footer a{
	float: left;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	padding: 4px;

}

.para1{
	text-align: center;

}
h1{
	text-align: center;
}
p{
	text-align: center;
}
#grand{
	background-color:transparent;
	padding: 1px;
	margin: 1px 0px;
}
#petit{
	background-color:rgba(0,0,0,0);
	padding: 1px;
	margin: 1px 0px;
}
#grand:hover,#petit:hover{
	box-shadow: 0px 0px 5px #444;
}
legend{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #444;
}
#grand input{
	width: 200px;
	height: 20px;
}
#petit input{
	width: 20px;
	height: 20px;

}
#grand label{
	display: inline-block;
	width: 150px;
	padding: 5px 0px 10px 10px
}
#petit label{
	display: inline-block;
	width: 100px;
	padding: 5px 0px 15px 10px;
}
input[type="submit"]{
	padding: 10px;
	font-size: 14 px;
	background-color: grey;
	font-weight: bold;
	text-transform: uppercase;

}
.premier{
	width: 250px;
	height: auto;
	padding: 10px 100px;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 #000;
	margin: auto;
}
ul.milieu{
	list-style-type: none;
	text-align: center;

}
ul.milieu li{
	width: 250px;
	margin-bottom: 15px;
}
ul.milieu li input{
 width: 250px;
 text-align: center;
 padding: 8px 0px;
 border: none;
 background-color: #d3d3d3;
 border-radius: 5px;
}

ul.milieu li input[type="button"]{
	background-color: blue;
	color:#ffff;
	
}
ul.milieu li:nth-child(5){
	color: red;
}
.lien{
	padding: 8px;
	text-align: center;
}
.objet{
	border: solid 8px #DCDCDC; 

}
div.objet p{
 text-align: justify;
 text-justify:inline-block;
}
#meilleur{
	position: fixed;
	top: 0;
	width: 100%;
}
.chose{
	padding: 50px;
	margin-top: 70px;
}
#accueil{
	padding: 50px;
	margin-top: 50px;
}
.bonjour{
	padding: 30px;
	margin-top: 50px;
}
.rien{
	padding: 120px;
	margin-top:60px;
}
.alignleft{
	float:left;
}
p.alignleft{
	text-align: left;
}